= form_for @guest do |f|
  - if @guest.errors.any?
    #error_explanation
      %h2= "#{pluralize(@guest.errors.count, "error")} prohibited this guest from being saved:"
      %ul
        - @guest.errors.full_messages.each do |msg|
          %li= msg

   .row
    .col-md-4 
      .form-group
        = f.label :ФИО
        = f.text_field :person
    .col-md-4 
      .form-group
        = f.label :"Дата заселения"
        = f.date_select :start_date
    .col-md-4 
      .form-group
        = f.label :"Дата выселения"
        = f.date_select :finish_date
  .row
    .col-md-4 
      .form-group
        = f.label :Мероприятие
        = f.text_area :event
  .actions
    = f.submit 'Сохранить', class: "btn btn-success"
    \|
    = link_to 'Назад', guests_path, class: "btn btn-success"
