%h1 Список гостей

%table
  %thead
    %tr
      %th ФИО
      %th Дата заселения
      %th Дата выселения
      %th Мероприятие
      %th
      %th
      %th

  %tbody
    - @guests.each do |guest|
      %tr
        %td= guest.person
        %td= guest.start_date
        %td= guest.finish_date
        %td= guest.event
        %td= link_to 'Показать', guest
        %td= link_to 'Редактировать', edit_guest_path(guest)
        %td= link_to 'Удалить', guest, :method => :delete, :data => { :confirm => 'Удалить?' }

%br

= link_to 'Добавить', new_guest_path
