%p#notice= notice

%p
  %b ФИО:
  = @guest.person
%p
  %b Дата заселения:
  = @guest.start_date
%p
  %b Дата выселения:
  = @guest.finish_date
%p
  %b Мероприятие:
  = @guest.event

= link_to 'Редактировать', edit_guest_path(@guest)
\|
= link_to 'Назад', guests_path
