%h1 Список сотрудников

%table.table.table-striped.table-hover
  %thead
    %tr
      %th Корпус
      %th
      %th
      %th

  %tbody
    - @employees.each do |employee|
      %tr
        %td= employee.building
        %td= link_to 'Показать', employee
        %td= link_to 'Редактировать', edit_employee_path(employee)
        %td= link_to 'Удалить', employee, :method => :delete, :data => { :confirm => 'Удалить?' }

%br

= link_to 'Добавить', new_employee_path, class: "btn btn-success"
