%h1 Список

%table
  %thead
    %tr
      %th Комната
      %th Корпус
      %th Этаж
      %th Атрибуты
      %th
      %th
      %th

  %tbody
    - @room_buildings.each do |room_building|
      %tr
        %td= room_building.room
        %td= room_building.building
        %td= room_building.floor
        %td= room_building.attribute
        %td= link_to 'Показать', room_building, class: "btn btn-success"
        %td= link_to 'Редактировать', edit_room_building_path(room_building), class: "btn btn-info"
        %td= link_to 'Удалить', room_building, :method => :delete, :data => { :confirm => 'Удалить?' }, class: "btn btn-danger"

%br

= link_to 'Добавление', new_room_building_path, class: "btn btn-success"
