%p#notice= notice

%p
  %b Комната:
  = @room_building.room
%p
  %b Корпус:
  = @room_building.building
%p
  %b Этаж:
  = @room_building.floor
%p
  %b Атрибуты:
  = @room_building.attribute

= link_to 'Редактировать', edit_room_building_path(@room_building), class: "btn btn-success"
\|
= link_to 'Назад', room_buildings_path, class: "btn btn-success"
