= form_for @person do |f|
  - if @person.errors.any?
    #error_explanation
      %h2= "#{pluralize(@person.errors.count, "error")} prohibited this person from being saved:"
      %ul
        - @person.errors.full_messages.each do |msg|
          %li= msg

  .row
    .col-md-4 
      .form-group
        = f.label :Пользователь
        = f.select :user_id, options_for_select(user_options()), {}, class: 'form-control'
    .col-md-4 
      .form-group
        = f.label :Фамилия
        = f.text_field :last_name, class: 'form-control'
    .col-md-4 
      .form-group.field
        = f.label :Имя
        = f.text_field :first_name, class: 'form-control'
    .col-md-4 
      .form-group.field
        = f.label :Отчество
        = f.text_field :second_name, class: 'form-control'
  .row
    .col-md-4 
      .form-group.field
        = f.label :'Дата рождения'
        .input-group.date.datepicker
          = f.text_field(:birthday, value: lnil(f.object.birthday), 
          class: 'form-control')
          %span.input-group-addon
            %span.glyphicon.glyphicon-calendar
        = f.error_messages_for(:birthday)
        
    .col-md-4 
      .form-group
        = f.label :Пол
        = f.select :sex, options_for_select(sex_options()), {}, class: 'form-control'
    .col-md-4 
      .form-group
        = f.label :'Паспорт серия'
        = f.text_field :series, class: 'form-control'
  .row
    .col-md-4 
      .form-group
        = f.label :Номер
        = f.text_field :number, class: 'form-control'
    .col-md-4 
      .form-group
        = f.label :'Кем выдан'
        = f.text_field :organization, class: 'form-control'
    .col-md-4 
      .form-group
        = f.label :'Когда выдан'
        .input-group.date.datepicker
          = f.text_field(:pass_date, value: lnil(f.object.pass_date), 
          class: 'form-control')
          %span.input-group-addon
            %span.glyphicon.glyphicon-calendar
        = f.error_messages_for(:pass_date)
  .row 
    .col-md-4 
      .form-group
        = f.label :'Где выдан'
        = f.text_field :address, class: 'form-control'
  .actions
    = f.submit 'Сохранить', class: "btn btn-danger" 
    \|
    = link_to 'Назад', people_path, class: "btn btn-success"
