%p#notice= notice
%p
  %b Пользователь:
  = @person.user.email
%p
  %b Фамилия:
  = @person.last_name
%p
  %b Имя:
  = @person.first_name
%p
  %b Отчество:
  = @person.second_name
%p
  %b Дата рождения:
  = @person.birthday
%p
  %b Пол:
  = @person.sex
%p
  %b Паспорт серия:
  = @person.series
%p
  %b Номер:
  = @person.number
%p
  %b Кем выдан:
  = @person.organization
%p
  %b Когда выдан:
  = @person.pass_date
%p
  %b Где выдан:
  = @person.address

= link_to 'Редактировать', edit_person_path(@person), class: "btn btn-success"
\|
= link_to 'Назад', people_path, class: "btn btn-success"
