= form_for @executor do |f|
  - if @executor.errors.any?
    #error_explanation
      %h2= "#{pluralize(@executor.errors.count, "error")} prohibited this executor from being saved:"
      %ul
        - @executor.errors.full_messages.each do |msg|
          %li= msg

  .row
    .col-md-4 
      .form-group
        = f.label :Запрос
        = f.text_field :request
    .col-md-4 
      .form-group
        = f.label :Сотрудник
        = f.text_field :employee
    .col-md-4 
      .form-group
        = f.label :"Тип исполнителя"
        = f.number_field :executortype
  .actions
    = f.submit 'Сохранить', class: "btn btn-success"
    \|
    = link_to 'Назад', executors_path, class: "btn btn-success"
