%h1 Listing executors

%table
  %thead
    %tr
      %th Запрос
      %th Сотрудник
      %th Тип исполнителя
      %th
      %th
      %th

  %tbody
    - @executors.each do |executor|
      %tr
        %td= executor.request
        %td= executor.employee
        %td= executor.executortype
        %td= link_to 'Показать', executor, class: "btn btn-success"
        %td= link_to 'Редактировать', edit_executor_path(executor), class: "btn btn-info"
        %td= link_to 'Удалить', executor, :method => :delete, :data => { :confirm => 'Удалить?' }, class: "btn btn-danger"

%br

= link_to 'Добавить', new_executor_path, class: "btn btn-success"
