%p#notice= notice

%p
  %b Запрос:
  = @executor.request
%p
  %b Сотрудник:
  = @executor.employee
%p
  %b Тип исполнителя:
  = @executor.executortype

= link_to 'Редактировать', edit_executor_path(@executor), class: "btn btn-success"
\|
= link_to 'Назад', executors_path, class: "btn btn-success"
