%h1 Listing visitors

%table
  %thead
    %tr
      %th ФИО
      %th Заезд
      %th Выезд
      %th Проживание
      %th
      %th
      %th

  %tbody
    - @visitors.each do |visitor|
      %tr
        %td= visitor.person
        %td= visitor.start_date
        %td= visitor.finish_date
        %td= visitor.accommodation
        %td= link_to 'Показать', visitor, class: "btn btn-success"
        %td= link_to 'Редактировать', edit_visitor_path(visitor), class: "btn btn-info"
        %td= link_to 'Удалить', visitor, :method => :delete, :data => { :confirm => 'Удалить?' }, class: "btn btn-danger"

%br

= link_to 'Добавление', new_visitor_path, class: "btn btn-success"
