%p#notice= notice

%p
  %b ФИО:
  = @visitor.person
%p
  %b Заезд:
  = @visitor.start_date
%p
  %b Выезд:
  = @visitor.finish_date
%p
  %b Проживание:
  = @visitor.accommodation

= link_to 'Редактировать', edit_visitor_path(@visitor), class: "btn btn-success"
\|
= link_to 'Назад', visitors_path, class: "btn btn-success"
