%h1 Список студентов

%table.table.table-striped.table-hover
  %thead
    %tr
      %th Студент
      %th Наличие медицинской справки
      %th
      %th
      %th

  %tbody
    - @students.each do |student|
      %tr
        %td= student.person.last_name
        %td= student.medical_certificate
        %td= link_to 'Показать', student, class: "btn btn-success"
        %td= link_to 'Редактировать', edit_student_path(student), class: "btn btn-info"
        %td= link_to 'Удалить', student, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-danger"

%br

= link_to 'Новый студент', new_student_path, class: "btn btn-success"
