%p#notice= notice

%p
  %b Person:
  = @student.person
%p
  %b Medical certificate:
  = @student.medical_certificate

= link_to 'Edit', edit_student_path(@student)
\|
= link_to 'Back', students_path, class: "btn btn-success"
