%p#notice= notice

%p
  %b ФИО:
  = @student.person.last_name
%p
  %b Наличие медицинской справки:
  = @student.medical_certificate

= link_to 'Редактировать', edit_student_path(@student), class: "btn btn-success"
\|
= link_to 'Назад', students_path, class: "btn btn-success"
