%h1 Список постельных принадлежностей

%table.table.table-striped.table-hover
  %thead
    %tr
      %th ФИО
      %th Количество
      %th Тип
      %th
      %th
      %th

  %tbody
    - @beddings.each do |bedding|
      %tr
        %td= bedding.person
        %td= bedding.count
        %td= bedding.type
        %td= link_to 'Показать', bedding
        %td= link_to 'Редактировать', edit_bedding_path(bedding)
        %td= link_to 'Удалить', bedding, :method => :delete, :data => { :confirm => 'Удалить?' }

%br

= link_to 'Добавить', new_bedding_path, class: "btn btn-success"
