%p#notice= notice

%p
  %b ФИО:
  = @bedding.person.last_name
%p
  %b Количество:
  = @bedding.count
%p
  %b Тип:
  = @bedding.kind

= link_to 'Редактировать', edit_bedding_path(@bedding), class: "btn btn-success"
\|
= link_to 'Назад', beddings_path, class: "btn btn-success"
