%h1 Listing users

%table.table-condensed.table-striped.table-hover
  %thead
    %tr
      %th Email
      %th Crypted password
      %th Salt
      %th
      %th
      %th

  %tbody
    - @users.each do |user|
      %tr
        %td= user.email
        %td= user.crypted_password
        %td= user.salt
        %td= link_to 'Show', user, class: "btn btn-success"
        %td= link_to 'Edit', edit_user_path(user), class: "btn btn-info"
        %td= link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-danger"

%br

= link_to 'New User', new_user_path, class: "btn btn-success"
