%h1 Список пользователей

%table.table-condensed.table-striped.table-hover
  %thead
    %tr
      %th Email
      %th Crypted password
      %th Salt
      %th
      %th
      %th

  %tbody
    - @users.each do |user|
      %tr
        %td= user.email
        %td= user.crypted_password
        %td= user.salt
        %td= link_to 'Показать', user, class: "btn btn-success"
        %td= link_to 'Редактировать', edit_user_path(user), class: "btn btn-info"
        %td= link_to 'Удалть', user, :method => :delete, :data => { :confirm => 'Удалть?' }, class: "btn btn-danger"

%br

= link_to 'Добавить', new_user_path, class: "btn btn-success"
