= form_for @request do |f|
  - if @request.errors.any?
    #error_explanation
      %h2= "#{pluralize(@request.errors.count, "error")} prohibited this request from being saved:"
      %ul
        - @request.errors.full_messages.each do |msg|
          %li= msg

  .row
    .col-md-4
      .form-group
        = f.label :ФИО
        = f.select :person_id, options_for_select(per_options()), {}, class: 'form-control'
      .form-group
        = f.label :Описание
        = f.text_area :description, class: 'form-control'
  .row
    .col-md-4
      .form-group
        = f.label :Статус
        = f.select :status, options_for_select(status_options()), {}, class: 'form-control'
  .row
    .col-md-4
      .form-group
        = f.label :Тип
        = f.select :kind, options_for_select(request_options()), {}, class: 'form-control'
  .actions
    = f.submit 'Сохранить', class: "btn btn-success"
    \|
    = link_to 'Назад', requests_path, class: "btn btn-success"
