%p#notice= notice

%p
  %b ФИО:
  = @request.person
%p
  %b Описание:
  = @request.description
%p
  %b Статус:
  = @request.status
%p
  %b Тип:
  = @request.kind

= link_to 'Редактировать', edit_request_path(@request)
\|
= link_to 'Удалить', requests_path, class: "btn btn-success"
