= form_for @building do |f|
  = error_messages_for @building
  - if @building.errors.any?
    #error_explanation
      %h2= "#{pluralize(@building.errors.count, "error")} prohibited this building from being saved:"
      %ul
        - @building.errors.full_messages.each do |msg|
          %li= msg
  .row
    .col-md-4 
      .form-group
        = f.label :Адрес
        = f.text_field :address, class: 'form-control'
  .row
    .col-md-1 
      .form-group
        = f.label :"Количество этажей"
        = f.number_field :floor, class: 'form-control'
  .actions
    = f.submit 'Сохранить', class: "btn btn-success"
    \|
    = link_to 'Назад', buildings_path, class: "btn btn-success"
