%p#notice= notice

%p
  %b Адрес:
  = @building.address
%p
  %b Этажность:
  = @building.floor

= link_to 'Редактировать', edit_building_path(@building), class: "btn btn-success"
\|
= link_to 'Назад', buildings_path, class: "btn btn-success"
