%p#notice= notice

%p
  %b Роль:
  = @role_user.role
%p
  %b Пользователь:
  = @role_user.user
%p
  %b Данные:
  = @role_user.data

= link_to 'Редактировать', edit_role_user_path(@role_user), class: "btn btn-success"
\|
= link_to 'Назад', role_users_path, class: "btn btn-success"
