= form_for @payment do |f|
  - if @payment.errors.any?
    #error_explanation
      %h2= "#{pluralize(@payment.errors.count, "error")} prohibited this payment from being saved:"
      %ul
        - @payment.errors.full_messages.each do |msg|
          %li= msg
  .row
    .col-md-4 
      .form-group
        = f.label :student
        = f.text_field :student, class: 'form-control'
      .form-group
        = f.label :worker
        = f.text_field :worker, class: 'form-control'
      .form-group
        = f.label :cost
        = f.text_field :cost, class: 'form-control'
  .row
    .col-md-4 
      .form-group
        = f.label :status
        = f.check_box :status
  .actions
    = f.submit 'Save', class: "btn btn-success"
