= form_for @payment do |f|
  - if @payment.errors.any?
    #error_explanation
      %h2= "#{pluralize(@payment.errors.count, "error")} prohibited this payment from being saved:"
      %ul
        - @payment.errors.full_messages.each do |msg|
          %li= msg
  -if params[:type] == "student"
    .row
      .col-md-4 
        .form-group
          = f.label :Студент
          = f.select :student_id, options_for_select(payment_options()), {}, class: 'form-control'
        .form-group
          = f.label :Стоимость
          = f.text_field :cost, class: 'form-control'
        .form-group
          = f.label :'Статус оплаты'
          = f.check_box :status
  -if params[:type] == "employee"
    .row
      .col-md-4 
        .form-group
          = f.label :Сотрудник
          = f.select :worker_id, options_for_select(payment_options()), {}, class: 'form-control'
        .form-group
          = f.label :Стоимость
          = f.text_field :cost, class: 'form-control'
        .form-group
          = f.label :'Статус оплаты'
          = f.check_box :status
  .actions
    = f.submit 'Сохранить', class: "btn btn-success"
    \|
    = link_to 'Назад', payments_path, class: "btn btn-success"
