%h1 Сведения об оплате

%table.table.table-striped.table-hover
  %thead
    %tr
      %th Студент
      %th Сотрудник
      %th Стоимость
      %th Статус оплаты
      %th
      %th
      %th

  %tbody
    - @payments.each do |payment|
      %tr
        %td= payment.student
        %td= payment.worker
        %td= payment.cost
        %td= payment.status
        %td= link_to 'Показать', payment
        %td= link_to 'Редактировать', edit_payment_path(payment)
        %td= link_to 'Удалить', payment, :method => :delete, :data => { :confirm => 'Удалить?' }

%br

= link_to 'Добавить', new_payment_path, class: "btn btn-success"

