%p#notice= notice

%p
  %b Студент:
  = @payment.student
%p
  %b Сотрудник:
  = @payment.worker
%p
  %b Стоимость:
  = @payment.cost
%p
  %b Статус:
  = @payment.status

= link_to 'Редактировать', edit_payment_path(@payment)
\|
= link_to 'Назад', payments_path
