%p#notice= notice

%p
  %b Студент:
  = @payment.student.try(:person).try(:last_name)
%p
  %b Сотрудник:
  = @payment.worker.try(:person).try(:last_name)
%p
  %b Стоимость:
  = @payment.cost
%p
  %b Статус:
  = @payment.status

= link_to 'Редактировать', edit_payment_path(@payment), class: "btn btn-success"
\|
= link_to 'Назад', payments_path, class: "btn btn-success"
