= form_for @room do |f|
  - if @room.errors.any?
    #error_explanation
      %h2= "#{pluralize(@room.errors.count, "error")} prohibited this room from being saved:"
      %ul
        - @room.errors.full_messages.each do |msg|
          %li= msg
  .row
    .col-md-2 
      .form-group
        = f.label :"Количество мест"
        = f.number_field :count_living_space, class: 'form-control'
      .form-group
        = f.label :Площадь
        = f.number_field :square, class: 'form-control'
      .form-group
        = f.label :Ванная
        = f.check_box :bathroom, class: 'input-group-addon'
      .form-group
        = f.label :Туалет
        = f.check_box :toilet, type: 'radio', class: 'input-group-addon'
  .actions
    = f.submit 'Сохранить', class: "btn btn-success"
    \|
    = link_to 'Назад', rooms_path, class: "btn btn-success"
