%p#notice= notice

%p
  %b Количество мест:
  = @room.count_living_space
%p
  %b Площадь:
  = @room.square
%p
  %b Ванная:
  = @room.bathroom
%p
  %b Туалет:
  = @room.toilet

= link_to 'Редактировать', edit_room_path(@room), class: "btn btn-success"
\|
= link_to 'Назад', rooms_path, class: "btn btn-success"
