= form_for @role do |f|
  - if @role.errors.any?
    #error_explanation
      %h2= "#{pluralize(@role.errors.count, "error")} prohibited this role from being saved:"
      %ul
        - @role.errors.full_messages.each do |msg|
          %li= msg
  .row        
    .col-md-4
      .form-group
        = f.label :Название
        = f.text_field :name, class: 'form-control'
    .col-md-4
      .form-group
        = f.label :"Короткое название"
        = f.text_field :shortname, class: 'form-control'
    .col-md-4
      .form-group
        = f.label :"Англ название"
        = f.text_field :englishname, class: 'form-control'
  .actions
    = f.submit 'Сохранить', class: "btn btn-success"
    \|   
    = link_to 'Назад', roles_path, class: "btn btn-success"
