%p#notice= notice

%p
  %b Название:
  = @role.name
%p
  %b Короткое название:
  = @role.shortname
%p
  %b Англ.название:
  = @role.englishname

= link_to 'Редактировать', edit_role_path(@role)
\|
= link_to 'Назад', roles_path, class: "btn btn-success"
