= form_for @worker do |f|
  - if @worker.errors.any?
    #error_explanation
      %h2= "#{pluralize(@worker.errors.count, "error")} prohibited this worker from being saved:"
      %ul
        - @worker.errors.full_messages.each do |msg|
          %li= msg

  .row
    .col-md-4
      .form-group
        = f.label :position
        = f.text_field :position
  .actions
    = f.submit 'Save', class: "btn btn-success"
