= form_for @inventary do |f|
  - if @inventary.errors.any?
    #error_explanation
      %h2= "#{pluralize(@inventary.errors.count, "error")} prohibited this inventary from being saved:"
      %ul
        - @inventary.errors.full_messages.each do |msg|
          %li= msg
  .row
    .col-md-4 
      .form-group
        = f.label :Комната
        = f.text_field :room, class: 'form-control'
  .row        
    .col-md-4
      .form-group
        = f.label :'Инвентарный номер'
        = f.text_field :invent_numb, class: 'form-control'
  .row
    .col-md-4 
      .form-group
        = f.label :Тип
        = f.select :kind, options_for_select(invent_options()), {}, class: 'form-control'
  .row        
    .col-md-4 
      .form-group
        = f.label :Статус
        = f.text_field :status, class: 'form-control'
  .actions
    = f.submit 'Сохранить', class: "btn btn-success"
    \|
    = link_to 'Назад', inventaries_path, class: "btn btn-success"
