%h1 Список инвентаря

%table.table.table-striped.table-hover
  %thead
    %tr
      %th Комната
      %th Инвентарный номер
      %th Тип
      %th Статус
      %th
      %th
      %th

  %tbody
    - @inventaries.each do |inventary|
      %tr
        %td= inventary.room
        %td= inventary.invent_numb
        %td= inventary.kind
        %td= inventary.status
        %td= link_to 'Show', inventary
        %td= link_to 'Edit', edit_inventary_path(inventary)
        %td= link_to 'Destroy', inventary, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'Добавить', new_inventary_path, class: "btn btn-success"
