%p#notice= notice

%p
  %b Комната:
  = @inventary.room
%p
  %b Инвентарный номер:
  = @inventary.invent_numb
%p
  %b Тип:
  = @inventary.kind
%p
  %b Статус:
  = @inventary.status

= link_to 'Редактировать', edit_inventary_path(@inventary)
\|
= link_to 'Назад', inventaries_path
