= form_tag user_sessions_path, :method => :post do
  .row
    .col-md-4 
      .form-group
        = label_tag :email
        = text_field_tag :email
      .form-group
        = label_tag :Пароль
        = password_field_tag :password
      .form-group
        = check_box_tag :remember, params[:remember], true
        = label_tag :Запомнить
  .actions
    = submit_tag "Вход", class: "btn btn-success"
    \|
    = link_to 'Регистрация', new_user_path, class: "btn btn-danger"
